body{
  background-color: rgb(235, 235, 235);

}

.todoForm{
  width: 400px;
  margin: 10px auto;  
}

.todo-list{
  margin: 20px auto;
  padding: 10px;
  background-color: #FFFFFF;
  width: 400px;
  min-height: 300px;

}

.todo-item{
  margin: 10px auto;
  display: flex;
  width: 300px;
  height: 40px;

  border-bottom: 1px solid rgba(117, 116, 116, 0.507);
  
  p, input {
    flex: 1;
    margin: auto 0;
    padding: 0 20px;
    width: 200px;
    text-align: center; 
    cursor: pointer;
  }

  div{
    margin: auto;
    font-size: 30px;
    cursor: pointer;

  }
  
  small{
    cursor: pointer;
    margin: auto 10px;
    font-size: 20px;
  }



}